<mat-card>
  <h2>Assignment results for all students in {{course}}</h2>
  <p>Your result is highlighted in green!</p>
  <div id="chart-parent">
    <div class="container">
      <div class="row">
        <ng-container *ngFor="let assignment of assignments; let i = index">
          <div class="col">
            <app-bar-chart [assigmentNumber]="i + 1" [chartData]="assignment"></app-bar-chart>
          </div>
          <ng-container *ngIf="i % 2 != 0">
            <div class="w-100"></div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</mat-card>
