<div class="responsive">
  <p>&nbsp;</p>
  <ngx-charts-bar-vertical
    [scheme]="colorScheme"
    [results]="single"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [noBarWhenZero]="noBarWhenZero"
    [customColors]="customColors"
    (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
</div>
