<mat-list>
  <div mat-subheader>Grades</div>
  <mat-list-item>
    <div mat-line><app-grouped-bar-chart></app-grouped-bar-chart></div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <div mat-subheader>Events</div>
  <mat-list-item>
    <div mat-line><app-treemap></app-treemap></div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <div mat-subheader>Assignment Grades </div>
  <mat-list-item>
    <div mat-line><app-assignment-grade></app-assignment-grade></div>
  </mat-list-item>
</mat-list>
