<div class="container">
  <div class="row">
    <div class="w-100"></div>
    <div class="col">
      <app-assignments-grades></app-assignments-grades>
    </div>
  </div>
  <div class="row">
    <div class="w-100"></div>
    <div class="col">
      <app-geolocation></app-geolocation>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-grouped-bar-chart></app-grouped-bar-chart>
    </div>
    <div class="col">
      <app-line-chart></app-line-chart>
    </div>
  </div>
  <div class="row">
    <div class="w-100"></div>
    <div class="col">
      <app-advanced-pie-chart></app-advanced-pie-chart>
    </div>
  </div>
</div>
